---
layout: base
---

<article
  class="region wrapper flow prose"
  style="--region-space-top: var(--space-xl-2xl)"
>
  <h1 class="gradient-text">{{ title }}</h1>
  {{ content | safe }}
  {% if image %}
      <!-- image -->
      {% eleventyImage image, alt or title, null, "eager", "feature" %}
    {% endif %}
    {%
      if
      credit
    %}
      <!-- credit -->
      <p class="credit feature | text-step-min-1">© {{ credit }}</p>
    {% endif %}
</article>
