---
permalink: /index.html
title: 'Exploring the Road less travelled'
description: 'Embark on a transformative journey in my Digital Sanctuary. Explore web technologies, self-discovery and wisdom of Adler and the Stoics. Find your path here.'
layout: 'home'
blog:
  title: 'Writings'
  intro: "I'm showing the last 4 articles, but there might be more!"
---

<section>
  <p>From ASCII to HTML, I’ve navigated the roads less travelled in technology and life. Veteran, Nana, knitter, and web technologist looking to pass on my lived experience of self-discovery.</p>
</section>

<article >
  <h2>Welcome To My Digital Sanctuary &hellip;</h2>
  <p>a haven where I explore the road less traveled, unravel the complexities of my journey, and find solace in the transformative power of web technologies. As a multifaceted individual, I wear multiple hats: I am a veteran, a devoted mother and doting nana, a master knitter, and a website developer. Above all, I am a seeker of meaning, drawing inspiration from great thinkers like Adler and the Stoics. Join me as we unveil the transformative power of the Internet, one step at a time.</p>
  <section class="grid" data-layout="50-50">
  <h3>
    Unveiling a Journey:
  </h3>
  <p>My career path has been as diverse as it has been enlightening. Serving in the RAAF, I navigated the complexities of military life while finding solace in teaching and technology. From the challenges of loading telex machines to deciphering the enigma of the infamous ration pack, I thrived on problem-solving and illuminating the path forward for those around me.</p>
  <h3>A Turning Point: </h3>
  <p>The year 2000 marked a pivotal moment in my life. I bid farewell to the RAAF and embarked on a 14-year journey in vocational education, specializing in web design and development. It was a chapter dedicated to finding healing and meaning, as I guided eager learners with meticulous precision, witnessing their growth and evolution.</p>
  <h3>The Quest for Healing and Discovery:</h3>
  <p>In 2015, I took another transformative step, intertwining the wisdom of Adler and the Stoics into my personal odyssey of healing and self-discovery. Through Codemaster Institute bootcamps, I found a platform to inspire and empower aspiring web enthusiasts, igniting their passion for the digital realm.</p>
    <h3>Unlocking a World of Possibilities:</h3>
  <p>Today, my commitment to education and personal growth is stronger than ever. I venture into the digital frontier to empower individuals like you with the skills and knowledge to thrive in the vast landscape of web technologies. Through every thread I knit and website I develop, I showcase the transformative power of web technologies.</p>

  </section>
    <p>So, join me in my digital sanctuary to find solace, unleash creativity, and embark on your own journey of healing and self-discovery. Let's explore the endless possibilities together and expand our horizons. Whether you're a beginner, an experienced developer, or simply seeking inspiration, this sanctuary is a place for learning, growth, and the pursuit of a life less ordinary.</p>

</article>